@import '_mixins';

form {
  width: 620px;
  margin: 0 auto;
  padding-bottom: 40px;

  .actions {
    margin:15px 0;
  }

  label {
    display: inline-block;
    width: 90px;
    text-align: right;
    padding: 5px 10px;
  }

  input[type="submit"] {
    width: 320px;
    margin-left: 115px;
  }

  input[type="text"], input[type="email"], textarea, select {
    color: #3f3f3f;
    font-size: 17px;
    box-sizing:border-box;
    background-color:#fff;
    font-family: Roboto, sans-serif;
    border: 1px solid #dadada;
    margin: 10px 0;
    outline: none;
    padding: 10px;
    width: 320px;
    @include border-radius(2px);
  }

  input[type="text"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
    border-color:#5a8b89;
    box-shadow:0 0 4px 0 #5a8b89;
  }

  input[type="file"] {
    position: fixed;
    top: -1000px;
  }

}
