<li>
  <%= image_tag(image.image.url, alt: image.caption) if image.image_stored? %>
  <%= link_to 'Edit', edit_image_path(image) %>
  <%= link_to 'Remove', image_path(image), method: :delete, data: {confirm: 'Are you sure?'} %>
</li>
